#createexpeditionpageleftblock {
  float: left;
  width: 55%;
}

#createexpeditionrigthblock {
  margin-top: 8%;
  float: right;
  width: 30%;
}

#selectarrivaltime {
  margin-top: 10%;
}

#selectdeparturetime {
  margin-top: 10%;
}

#savebutton {
  margin-top: 25%;
}
